{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Add Section  {% endblock %}

{% block page_content %} 
<div class="container">
    <div class="card">
        <div class="card-body">
          <div class="row">
                <div class="col-md-10">
                    <div class="page-header justify-content-center">
                        <h3><strong>Add Section </strong></h3>
                    </div>
                {{ wtf.quick_form(form) }}                   

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
